{% extends "templates/base.twig" %}

{% block content %}

    {% include 'blocks/page-header.twig' %}
    {% include 'blocks/page-introduction.twig' %}

    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-6">
                {% if options.social_media|length > 0 %}
                    <div class="contact-social--wrapper">
                        {% include 'blocks/social-media.twig' %}
                    </div>
                {% endif %}

                {% if options.meta_phone|length > 0 %}
                    <div>
                        <a href="tel:">{{ options.meta_phone }}</a>
                    </div>
                {% endif %}
                {% if options.meta_email|length > 0 %}
                    <div>
                        <a href="mailto:">{{ options.meta_email }}</a>
                    </div>
                {% endif %}

                {% if options.meta_address|length > 0 %}{% endif %}
                {% if options.meta_region|length > 0 %}{% endif %}
                {% if options.meta_suburb|length > 0 %}{% endif %}
                {% if options.meta_postcode|length > 0 %}{% endif %}

            </div>
            <div class="col col-12 col-md-6">
                {{ function('gravity_form', 1, false, false, false, null, false, null, true) }}
            </div>
        </div>
    </div>

{% endblock %}