{% if video and video.youtube_video|length > 0 %}
    <div class="block page-builder page-builder--video-block-layout">
        <div class="container">
            <div class="row justify-content-center">
                {% if video.video_width|length > 0 %}
                <div class="col col-12 col-md-{{ video.video_width }}">
                    <div class="embed-container">
                        {{ video.youtube_video }}
                    </div>
                </div>
                {% else %}
                    <div class="col col-12">
                        <div class="embed-container">
                            {{ video.youtube_video }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}