{% if fields.slider_gallery|length > 0 %}
    <div class="block page-builder page-builder-slider--layout {{ block.className }}">
        <div class="container">
            <div class="row"> 
                <div class="col col-12">
                    <div class="pb--slider middle-arrows sc-dots-styling owl-carousel owl-theme">
                        {% if fields.gallery_lightbox %}
                            {% for item in fields.slider_gallery %}
                                <a href="{{ item.src }}" class="fl-gallery d-block no-decoration" fl-gallery-link>
                                    <div class="pb--slide background-image" style="background-image: url({{ item.src }});"></div>
                                </a>
                            {% endfor %}
                        {% else %}
                            {% for item in fields.slider_gallery %}
                                <div class="pb--slide background-image" style="background-image: url({{ item.src }});"></div>
                            {% endfor %}
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}