{{ dump(post) }}

<div class="page-front-header background-cover" style="background-image:url('{{ post.front_page_hero_image }}')">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                {{ post.front_page_hero_content }}
            </div>
        </div>
    </div>
</div>