<p>How many cats do you have?</p>
{# {{ function('the_field','title') }} #}
<div id="example-{{ block.id }}" class="wrapper">
    <h1>{{ fields.title }}</h1>
    <p>{{ fields.description }}</p>
</div>

{% if is_preview %}
    <p>I will only appear in the editor.</p>
{% endif %}